header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 36px 20px 36px;
  border-bottom: 1px solid rgba(25, 25, 25, 1);

  img {
    width: 220px;
    height: 38px;
  }

  nav {
    display: flex;
    gap: 36px;

    a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 18px;
      line-height: 27px;
      transition: transform 0.3s ease;
    }

    a:hover {
      transform: translateY(-6px);
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 40px;

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        width: 32px;
        height: 32px;
      }

      a:hover {
        transform: translateY(-4px);
      }

      .tg {
        background-image: url('./../img/tg.svg');
      }

      .vk {
        background-image: url('./../img/vk.svg');
        border-radius: 18px;
      }
    }

    .call {
      display: flex;
      align-items: center;
      gap: 16px;
      background-color: var(--text-color);
      border-radius: 28px;
      padding: 6px 6px 6px 24px;
      text-decoration: none;
      font-size: 20px;
      line-height: 36px;
      color: var(--primary-color);
      transition: transform 0.3s ease;

      .arrow {
        width: 40px;
        height: 40px;
        background-image: url('./../img/arrow.svg');
      }
    }

    .call:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1168px) {
  header {
    background-color: var(--primary-color);
  }
}

@media (max-width: 885px) {
  header {
    nav {
      display: none;
    }
  }
}

@media (max-width: 630px) {
  header {
    padding: 24px 15px 20px 15px;

    img {
      width: 141px;
      height: 24px;
    }

    .contacts {
      .icons {
        display: none;
      }

      .call {
        padding: 2px 4px 2px 20px;
        font-size: 14px;
        line-height: 19px;

        .arrow {
          width: 32px;
          height: 32px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
