.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-left: 36px;

  .info {
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    .practice {
      display: none;
    }
    .offline {
      font-size: 24px;
      line-height: 24px;
      opacity: 60%;
      color: var(--text-color);
      max-width: 346px;
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 60px;
      line-height: 67px;
      color: var(--text-color);
      max-width: 662px;
      margin: 0;
      padding: 0;
      padding-top: 6px;
    }

    .study {
      font-size: 20px;
      line-height: 28px;
      opacity: 60%;
      color: var(--text-color);
      max-width: 511px;
      margin: 0;
      padding: 0;
      padding-top: 22px;
    }

    .join {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: var(--text-color);
        border-radius: 28px;
        padding: 6px 6px 6px 24px;
        text-decoration: none;
        font-size: 20px;
        line-height: 36px;
        color: var(--primary-color);
        width: 214px;
        transition: transform 0.3s ease;

        .arrow {
          width: 40px;
          height: 40px;
          background-image: url('./../img/arrow.svg');
        }
      }

      a:hover {
        transform: scale(1.1);
      }

      p {
        color: var(--text-color);
        font-size: 20px;
        line-height: 36px;
        border: 2px solid var(--text-color);
        border-radius: 28px;
        padding: 6px 20px 6px 20px;
      }
    }

    .question {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-top: 170px;

      .p-desk {
        font-size: 20px;
        line-height: 26px;
        opacity: 60%;
        color: var(--text-color);
        max-width: 392px;
        margin: 0;
        padding: 0;
      }

      .p-mob {
        display: none;
      }

      .down-desc {
        background-color: var(--text-color);
        border-radius: 28px;
        padding: 4px 4px 4px 36px;
        text-decoration: none;
        font-size: 20px;
        line-height: 36px;
        color: var(--primary-color);
        margin: 0;
        width: 42px;
        transition: transform 0.3s ease;

        .arrow {
          width: 41px;
          height: 40px;
          background-image: url('./../img/arrowdown.svg');
          background-repeat: no-repeat;
          animation: moveArrow 2s linear infinite alternate;
        }

        @keyframes moveArrow {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-75%);
          }
        }
      }
      .down-desc:hover {
        transform: scale(1.1);
      }

      .down-mob {
        display: none;
      }
    }
  }

  .img-desk {
    min-width: 704px;
    height: 566px;
    display: flex;
    justify-content: center;
    .desk {
      width: 500px;
      height: 500px;
      padding-top: 30px;
      padding-left: 20px;
    }
  }
  .img-mob {
    display: none;
  }

  .background-mob {
    display: none;
  }
}

@media (max-width: 1420px) {
  .hero {
    .info {
      .join {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }
}

@media (max-width: 1168px) {
  .hero {
    flex-direction: column;

    .img-desk {
      display: none;
    }

    .img-mob {
      display: flex;

      margin: 0 auto;
      padding-top: 20px;
      .mob {
        display: flex;
        width: 500px;
        height: 500px;
      }
    }
  }
}

// @media (max-width: 813px) {
//   .hero {
//     position: relative;
//     .background-mob {
//       display: block;
//       content: '';
//       position: absolute;
//       z-index: -1;
//       top: -50px;

//       right: 0;
//       width: 606px;
//       height: 524px;
//       background-image: url('./../img/background-mob.svg');
//       background-size: 100%;
//       background-repeat: no-repeat;
//       background-position: top right;
//     }
//   }
// }

@media (max-width: 760px) {
  .hero {
    padding-top: 0px;
    padding-left: 0px;

    .info {
      padding-top: 0px;
      padding-left: 16px;
      .practice {
        display: block;
        color: var(--text-color);
        font-size: 16px;
        line-height: 36px;
        border: 2px solid var(--text-color);
        border-radius: 28px;
        padding: 4px 0px 4px 0px;
        margin-right: 20px;
        margin-left: 0px;
        text-align: center;
      }

      .offline {
        font-size: 20px;
        line-height: 20px;
      }

      h1 {
        font-size: 36px;
        line-height: 40px;
      }

      .study {
        font-size: 16px;
        line-height: 22px;
      }

      .join {
        margin-top: 24px;

        a {
          font-size: 16px;

          width: 184px;
        }

        p {
          display: none;
        }
      }

      .question {
        display: block;

        margin-top: 60px;
        position: relative;
        width: 316px;

        .p-desk {
          display: none;
        }
        .p-mob {
          display: inline;
          font-size: 24px;
          line-height: 33px;
          opacity: 100%;
          color: var(--text-color);
          width: 392px;
          margin: 0;
          padding: 0;
          padding-top: 0px;
          width: 322px;
          span {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-style: normal;
          }
        }
        span {
          position: relative;
        }

        .down-desc {
          display: none;
        }

        .down-mob {
          background-color: var(--text-color);
          border-radius: 28px;

          text-decoration: none;
          font-size: 20px;
          line-height: 36px;
          color: var(--primary-color);
          display: inline-block;
          position: absolute;
          top: 72px;
          left: 290px;
          padding: 1px 1px 1px 1px;
          width: 31px;
          height: 31px;

          .arrow {
            width: 30px;
            height: 30px;
            background-image: url('./../img/arrowdown.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .img-mob {
      width: 295px;
      height: 295px;

      .mob {
        width: 292px;
        height: 292px;
      }
    }
  }
}
