.syllabus {
  color: var(--text-color);
  padding: 80px 36px 0px 36px;

  h2 {
    font-size: 52px;
    line-height: 52px;
    margin: 0;
    padding: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 56px;
      max-width: 724px;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 80px;
      padding-top: 76px;
      max-width: 660px;
    }

    .card {
      display: flex;
      gap: 30px;
      padding-left: 6px;

      .num {
        font-size: 40px;
        line-height: 40px;
      }

      .content {
        .title {
          font-size: 20px;
          line-height: 20px;
          margin: 0;
          padding: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          padding: 20px 0 0 20px;
        }
        li {
          font-size: 16px;
          line-height: 22px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.mob {
  display: none;
}

@media (max-width: 650px) {
  .mob {
    display: block;
  }

  .desk {
    display: none;
  }

  .syllabus {
    color: var(--text-color);
    padding: 62px 16px 0px 16px;

    h2 {
      font-size: 36px;
      line-height: 40px;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 346px;
      position: relative;

      .swiper-pagination {
        position: absolute;
        top: 308px;
        height: 6px;
        border: 1px solid var(--text-color);
        margin-top: 20px;
        border-radius: 4px;
        width: 170px;
        left: 50%;
        transform: translateX(-50%);
      }

      .swiper-pagination-progressbar-fill {
        background-color: var(--text-color);
        height: 100%;
        border-radius: 4px;
      }
    }

    .swiper-slide {
      height: 234px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding-top: 30px;

        .num {
          font-size: 40px;
          line-height: 40px;
        }

        .content {
          .title {
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0;
          }
          ul {
            margin: 0;
            padding: 0;
            padding: 18px 0 0 24px;
          }
          li {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
